@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* #root,
	#__next {
		@apply isolate;
	} */

	*,
	*::before,
	*::after {
		@apply box-border;
	}

	* {
		/* @apply m-0; */
		@apply overscroll-none;
	}

	html {
        /* @apply min-h-full;
        @apply h-auto; */
		@apply overflow-x-hidden;
		@apply antialiased;
	}

	body {
        /* @apply min-h-full; */
        /* @apply h-auto; */
        /* @apply m-0; */
        @apply overscroll-none;
		@apply bg-background;
		@apply leading-normal;
		-webkit-font-smoothing: antialiased;
        @apply text-xs;
        @apply font-mono;
	}

	img {
		@apply block h-auto w-full max-w-full;
	}

	input,
	button,
	textarea,
	select {
		@apply text-inherit;
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply break-words;
	}

    a {
        @apply text-inherit;
        @apply decoration-inherit;
    }

    sub,
    sup {
        @apply text-[75%] leading-[0] relative align-baseline;
    }
    sub {
        @apply bottom-[-0.25em];
    }
    sup {
        @apply top-[-0.5em];
    }

    button,
    [type="button"],
    [type="reset"],
    [type="submit"] {
        @apply bg-transparent bg-none;
        -webkit-appearance: button;
    }

    ol,
    ul {
        @apply m-0 p-0;
        @apply list-none;
    }

    dialog {
        @apply p-0;
    }

    input[type="text"],
    textarea {
        @apply bg-background;
    }
}

@layer utilities {
    .small-caps {
        font-variant: all-small-caps;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        place-items: top;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* This assumes no margin or padding on #app's parent(s) */
#app {
    height: 100vh;
    max-height: 100dvh;
    overscroll-behavior: none;
    -webkit-font-smoothing: antialiased;
    overflow: auto;
}
